<%- include('partials/header'); -%>


<div class = "left-body">
    <div class="main-icon">
        <span><i class="fas fa-book-open"></i></span>
    </div>
    <div class="left-navbar">
        <a href="/dashboard" class="button-left-nav" role="button" aria-pressed="true">Home</a>
        <a href="/explore" class="button-left-nav" role="button" aria-pressed="true">Explore</a>
<!--        <a href="/messages" class="button-left-nav" role="button" aria-pressed="true">Messages</a>-->
        <a href="/bookmarks" class="button-left-nav" role="button" aria-pressed="true">Bookmarks</a>
    </div>
    <div class="left-bottom-section">
        <div class="left-profile-div" >
            <img src="data:<%=user.user_image.contentType%>;base64,<%=user.user_image.data%>" class="prfile-icon" alt="...">
            <a href="/getProfile/s" class="user-name-pic" > <%= user.username %> </a>
        </div>
    </div>
</div>

<div class = "mid-body">
    <div class="top-header">
        <div class="fixed-home-directive">
            <i class="fas fa-home"></i>
            <hr class="hr-profile-dash-board">
        </div>
        <div class="top-header-write">
            <img src="data:<%=user.user_image.contentType%>;base64,<%=user.user_image.data%>" class="prfile-icon-top" alt="...">
            <div class="top-composer-text">

                <form method="get" action="/compose" class="top-text-header-par" >
                    <textarea name="preContent" class="text-top-header" placeholder="Dear Diary..."></textarea>
                    <button type="submit" class="compose-button-top" >Compose </button>
                </form>
            </div>
        </div>
    </div>
    <hr class="hr-profile-dash-board hr-dsi">

    <div>
        <% pages.forEach((page) => { %>
        <div class="card-to-show" >
            <div class="card-header-show">
                <img src="data:<%=page.user_image.contentType%>;base64,<%=page.user_image.data%>" class="img-thumbnail-card" alt="...">
                <a href="/getProfile/<%=page.author_id%>"><span class="user-name-card" ><%= page.author_name %></span></a>
            </div>
            <hr class="card-seperator">
            <a href="/getPage/<%=page.id%>" class="ds-a-tg">
                <div class="card-body-show cut-text">
                    <%- page.content%>
                </div>
            </a>

            <hr class="card-seperator">
            <div class="card-footer-show" id="<%= page.author_name%>">
                <span id="<%= page.id%>">
                    <button class="like-button icon-like icon-footer"  type="submit" ><i class="far fa-heart"></i></button>
                    <span class="icon-footer num-likes"><sup><%= page.likes %></sup></span>
<!--                    <button type="submit" class="icon-comment icon-footer" > <i class="far fa-comment"></i></button>-->

                    <button type="submit" class="add-to-bookmark-button icon-bookmark icon-footer"> <i class="far fa-bookmark"></i></button>
                </span>
            </div>
            <hr class="card-seperator">
        </div>
        <%})%>
    </div>
</div>
<div class = "right-body">
    <div class="notice-icon">
        <span><i class="far fa-bell icon-footer"></i></span>
    </div>
    <form action="/logout" method="post" class="form-in">
        <button type="submit" class="rd-button logout"> logout </button>
    </form>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script >
    $(".like-button").each(function() {
        let id = $(this).parent().attr('id')
        let chi = $(this).children()
        $(this).on("click" ,() => {
            axios({
                method: 'post',
                url: '/likeThisPost',
                params: {
                    pageId: id,
                }
            })
                .then(function (response) {
                    console.log(response);
                    chi.attr("class", "fas fa-heart");
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
    })
    $(".add-to-bookmark-button").each(function() {
        let id = $(this).parent().attr('id')
        let chi = $(this).children()
        let authorName = $(this).parent().parent().attr('id')
        $(this).on("click" ,() => {
            axios({
                method: 'post',
                url: '/addNewBookMark',
                params: {
                    pageId: id,
                    authorName : authorName
                }
            })
                .then(function (response) {
                    console.log(response);
                    chi.attr("class", "fas fa-bookmark");
                })
                .catch(function (error) {
                    console.log(error);
                });
        })
    })
    // var retval = []
    // $('.like-button').each(function(){
    //     retval.push($(this).attr('id'))
    // })
    // console.log(retval)
</script>
<%- include('partials/footer'); -%>